.title{
	font-weight:bold;
	color:purple;
}

.error{
	text-align: left;
	color:red;
}
.centerInRow{
	text-align: center;
}

.message{
	height: 20px;	
}

.wyloguj{
	float:right;
}

#messageForm{
	color:red;
}


#noweZamowienia{
	float:center;
}