.title{
	font-weight:bold;
	color:purple;
}

.error{
	text-align: left;
	color:red;
}
.centerInRow{
	text-align: center;
}

.message{
	height: 20px;	
}

.wyloguj{
	float:right;
}

#messageForm{
	text-align: center;
	color:red;
}

#loginForm{
	text-align: right;
	margin-left: 40%;

}

#noweZamowienia{
	float:center;
}