.title{
	margin-left: 50px;
	text-align:left;
	color:purple;
}

.error{
	text-align: left;
	color:red;
}

.message{
	height: 20px;	
}

.wyloguj{
	float:right;
}

#messageForm{
	text-align: center;
	color:red;
}

#loginForm{
	text-align: right;
	margin-left: 40%;

}

#noweZamowienia{
	float:center;
}

.col1 { width: 80%; }
.col2 { width: 10%; }
.col3 { width: 10%; }